/* Entry */
.entry {
	padding-bottom: 12px;
	margin-bottom: 24px;
}

.entry header { height: auto; }

.entry .entry-meta ul {
	margin: 6px 0 18px;
	color: #B7B9BD;
	line-height: 24px;
}
.entry .entry-meta ul li {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'merriweather-regular', sans-serif;	
}

.entry .entry-meta ul li a { 
    color: #B7B9BD; 
}

.entry .entry-content-media {	
    margin: 24px 0 18px;	
}

.entry .tags {
  margin-top: 18px;
  font-family: 'opensans-regular', sans-serif;
  color: #888;
}

.entry .tags a { 
    font-family: 'opensans-bold', sans-serif; 
}

.entry h2,
.entry h2 a {
	font: 31px/36px 'opensans-semibold', sans-serif;
	color: #444;
	margin-bottom: 0;
	letter-spacing: -.5px;
}


/* page navigation  */

.pagenav {
    font: 18px/30px 'opensans-bold', sans-serif;
    text-align: left;
    margin-top: 12px;
    padding-top: 18px;
    margin-bottom: 48px;
    border-top: 1px solid #E8E8E8;
 }
 .pagenav p {
     margin-bottom: 18px;
 }
 .pagenav span {
     font: 18px/30px 'opensans-regular', sans-serif;
    color: #C0C6C9;
    margin: 0 15px;
 }
 .pagenav a[rel="prev"] { 
     margin-right: 10px;
     padding-right: 15px;
     border-right: 1px dotted #CBCFD1;
 }
 .pagenav a[rel="prev"]:before {
     content: '\f177';
     font-family: 'fontawesome';
     font-size: 15px;
     margin-right: 12px;
 }
 .pagenav a[rel="next"]:after {
     content: '\f178';
     font-family: 'fontawesome';
     font-size: 15px;
     margin-left: 12px;
 }



/* Sidebar */

.sidebar {
	// padding-top: 0px;
    padding: 0 20px;
    float: right;
}
.sidebar h3 {
	font: 15px/24px 'opensans-bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;	
}
.sidebar .widget { margin-bottom: 18px; }
.sidebar p { margin-bottom: 12px; }
.sidebar hr { margin-bottom: 24px; }


.sidebar .widget { margin-bottom: 18px; }
.sidebar p { margin-bottom: 12px; }
.sidebar hr { margin-bottom: 24px; }



/* search  */
.sidebar .widget_search { 
	padding-top: 0;  
	margin-bottom: 36px;
}
.sidebar .widget_search h3 { display: none; }
.sidebar .widget_search form {
   position: relative; 
   margin: 0;
}
.sidebar .widget_search .text-search {
	padding-right: 40px;
	border:none;
    width: 100%;
    min-width: 150px;
    border-radius: 3px;
}
.sidebar .widget_search .submit-search {
	background:url(./images/search-icon.png) no-repeat;
	border:none;
	width: 18px;
	height: 18px;
	min-height: 18px;
    margin: -9px 0 0 0;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 18px;     
}


/* categories  */

.sidebar .widget_categories ul { 
	margin-top: 12px; 
	margin-bottom: 24px;
}

/* link List */
.sidebar .link-list {   
   padding: 0;
   margin: 18px 0 24px 0;
}
.sidebar .link-list li {
	font: 15px/30px 'merriweather-regular', sans-serif;
	padding: 8px 0;
	margin: 0;
	border-bottom: 1px dotted #E6E6E6;
}
.sidebar .link-list li:first-child { 
	border-top: 1px dotted #E6E6E6;
}
.sidebar .link-list li a {	color: #4A5153; }
.sidebar .link-list li a:hover {	
    color: #313131; 
}

/* tag cloud */
.sidebar .tagcloud {
   margin: 18px 0 24px -12px;
   padding: 0;
   font-size: 17px;
}
.sidebar .tagcloud a {
   font: 12px/24px 'opensans-bold', sans-serif !important;
   display: inline-block;
   margin: 0 0 12px 12px;
   padding: 6px 15px;
   position: relative;
   text-transform: uppercase;
   letter-spacing: 0.5px;

   background: #E9EBEE;
	text-decoration: none;
   letter-spacing: .5px;
   color: #778888;
   border-radius: 3px;
}
.sidebar .tagcloud a:hover {
   color: #fff;
   background: #93B876;
}

/* Forms */
form { margin-bottom: 24px; }

input[type="text"] {
    display: block;
    padding: 12px 15px;
    margin: 0 40px 0 0;
    border: 0;
    outline: none;
    width: 90%;
    max-width: 90%;
	background: #E9EBEE;
	color: #B1B1B1;

	font-family: 'opensans-regular', sans-serif;
	font-size: 14px;
    line-height: 30px;
    height: 54px;
    border-radius: 3px;
}

input[type="text"]:focus{
	background: #AFB7BE;
	color: #fff;
}
